.container {
    height: 100%;
  }
  
  .sidenav {
    width: 13rem;
    color: white;
    background: rgb(203,184,133);
    background: linear-gradient(90deg, rgba(203,184,133,1) 0%, rgba(4,7,48,1) 4%);  }

  img {
      width:  120px;
      height: 120px;
      padding: 40px;
  }

  .sidenav a {
    color: rgb(203,184,133);
  }

  .sidenav i {
    color: rgb(203,184,133);
    margin-right: .6rem;
  }

  .menu{
      margin: 1rem 0 0 1rem;
      color: rgb(203,184,133);
      background: linear-gradient(90deg, rgba(203,184,133,1) 0%, rgba(4,7,48,1) 4%);  

  }